body {
    background-color: #222222;
    color: #eeeeee;
    font: 16px "Noto", serif;
}

html, body {
  margin-top: 0;
  margin-bottom: 0;
  padding: 0;
}

a {
    color: white;
}

.grid-container {
    display: grid;
}

.grid-box {
    background-color: #333333;
    margin: 5px;
    padding-left: 15px;
    padding-right: 15px;
    border-radius: 5px;
}

pre {
    margin: 0px;
    white-space: pre-wrap;
}

#title {
    text-decoration: none;
    text-transform: uppercase;
    font-family: 'ChildScribble', Arial, sans-serif;
}

.home-list-item, .start-list-item, .list-item, .no-result-item {
    background-color: #333333;
    margin:5px;
    border-radius: 5px;
    padding-left: 20px;
    padding-right: 20px;
    font-size: 25px;
    cursor: pointer;
    text-decoration: none;
    transition: transform .2s;
}

.home-list-item:hover, .list-item:hover {
    transform: scale(1.05);
}

.trait-name, .home-list-item, .list-item {
    font-family: monospace;
    color: #fcc28c;
}

.trait-name {
    font-size: 30px;
}

.list-item, .no-result-item {
    float: right;
}

code {
    font-family: "Sans Mono", "Consolas", "Courier", monospace;
}

.requirements {
    font-family: "Sans Mono", "Consolas", "Courier", monospace;
}

.deps {
    color: #fcc28c;
}

.bottom {
    text-align: center;
    margin-bottom: 5px;
}

.li-required:before {
    content: '👉';
    margin-left: -20px;
    margin-right: 10px;
}

#templateCodeBoxWrapper {
    position: relative;
    border: 2px #aaaaaa solid;
    border-radius: 5px;
    margin-bottom: 10px;
}

#deriveCopyButton {
    background-color: cornflowerblue;
    color: white;
    border: none;
    border-radius: 2px;
    text-decoration: none;
    display: inline-block;
    font-size: 30px;
    cursor: pointer;
    position: absolute;
    top: 0px;
    right: 0px;
}

#copyButton {
    background-color: #555555;
    color: white;
    border: none;
    border-radius: 3px;
    text-decoration: none;
    display: inline-block;
    font-size: 30px;
    cursor: pointer;
    position: absolute;
    top: 0px;
    right: 0px;
}

input {
    color: white;
    background-color: #333333;
    font-size: 25px;
    border: none;
    border-radius: 5px;
}

input:focus {
    outline: none;
}

.search-box {
    margin-top: 25px;
    margin-bottom: 25px;
    position: relative;
    height: 37px;
}

.search-input {
    position: relative;
    left: 20px;
}

.erase-search {
    position: absolute;
    right: 5px;
    font-size: 25px;
    display: none;
    cursor: pointer;
}

.search-icon {
    position: absolute;
    left: 5px;
    font-size: 25px;
    cursor: default;
}

.info-block, .warning-block {
    position: relative;
    color: white;
    padding: 11px;
    margin-top: 10px;
    margin-bottom: 10px;
    border-radius: 2px;
}

.info-block {
    background-color: cornflowerblue;
}

.warning-block {
    background-color: darkorange;
}

.danger-block {
    background-color: crimson;
}

.info {
    color: cornflowerblue;
}

.warning {
    color: darkorange;
}

.danger {
    color: crimson;
}

.info-block-icon, .warning-block-icon {
    position: absolute;
    left: 10px;
    top: 5px;
    font-size: 25px;
}

.info-block-text, .warning-block-text {
    position: relative;
    left: 30px;
}

/* Thanks to https://stackoverflow.com/questions/28365839
   Moving dashed border on hover */
.bag {
    background: linear-gradient(90deg, white 50%, transparent 50%), linear-gradient(90deg, white 50%, transparent 50%), linear-gradient(0deg, white 50%, transparent 50%), linear-gradient(0deg, white 50%, transparent 50%);
    background-repeat: repeat-x, repeat-x, repeat-y, repeat-y;
    background-size: 13px 1px, 13px 1px, 1px 13px, 1px 13px;
    background-position: left top, right bottom, left bottom, right   top;
    padding: 10px;
    margin: 5px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    position: relative;
    margin-top: 30px;
    margin-left: 15px;
    margin-right: 15px;
}

.bag:hover {
    animation: border-dance 0.4s infinite linear;
}

@keyframes border-dance {
    0% {
        background-position: left top, right bottom, left bottom, right   top;
    }
    100% {
        background-position: left 30px top, right 30px bottom, left bottom 30px, right top 30px;
    }
}

/* Thanks to https://stackoverflow.com/questions/59135939/
   Moving bag label up and down on hover */
.bag:hover > .bagtag {
    animation: updown 1s linear infinite;
}


@keyframes updown {
    0% {
        transform: translateY(0);
    }
    25% {
        transform: translateY(3px);
    }
    75% {
        transform: translateY(-3px);
    }
    100% {
        transform: translateY(0);
    }
}

.bagtag {
    position: absolute;
    top: -25px;
    left: 0px;
    font-style: italic;
}

#cheatsheetlist {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    width: 95vw;
    gap: 30px;
}

#searcharea {
    margin-left: 50vw;
}

/** The link to the Rust docs */
#reflink {
    position:absolute;
    top:5px;
    right:10px;
    font-size:40px;
    text-decoration:none;
}

#reflink:hover {
    color:#fcc28c;
}