<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8"/>
    <title>Trait Zoo - {{name}}</title>
    <link rel="shortcut icon" type="image/png" href="../image/favicon.png"/>
    <link rel="stylesheet" href="../css/main.css"/>
    <link rel="stylesheet" href="../css/agate.min.css"/>
    <link rel="stylesheet" href="../fonts/stylesheet.css"/>
</head>
<body>
    <div class="grid-container" style="grid-template-columns: auto; grid-template-rows: auto auto 1fr auto; min-height: 100vh;">
        <div class="grid-container" style="grid-template-columns: 1fr auto;">
            <h1><a id="title" href="index.html">The Trait Zoo</a> - <span class="trait-name">{{name}}</span></h1>
            <div class="grid-box search-box">
                <span class="search-icon">🔎</span>
                <input id="searchInput" class="search-input" placeholder="Search" />
                <span id="eraseSearch" class="erase-search">⨉</span>
            </div>
        </div>
        <div id="cheatsheet" class="grid-container" style="grid-template-columns: 50% 50%; grid-template-rows: auto;">
            <div class="grid-container" style="grid-template-rows: auto auto 1fr;">
                <div class="grid-box">
                    <h2>TL;DR</h2>
                    <p>{{tldr}}</p>
                </div>
                <div class="grid-box">
                    <h2>Requirements</h2>
                    <p class="requirements">{{requirements}}</p>
                </div>
                <div class="grid-box" style="position:relative">
                    <h2>Definition</h2>
                    <a href="{{link}}" target="_blank" id="reflink">➶</a>
                    <ul>
{{definition}}
                    </ul>
                </div>
            </div>
            <div class="grid-container">
                <div class="grid-box">
                    <h2>Implementation template</h2>
                    {{implementation}}
                </div>
            </div>
        </div>
        <div id="searcharea">
            <div id="searchlist" style="display: none;">
                <!-- Search elements will be loaded here -->
            </div>
            <div id="not-found" style="display: none;">
                <span class="no-result-item">No result 😕</span>
            </div>
        </div>
        <div><!-- Div for remaining free space --></div>
        <div class="bottom">
            ©2022 - 🦀 - PRs welcome <a href="https://gitlab.com/traitzoo/traitzoo.gitlab.io" target="_blank">here</a> - <a href="../haskell/index.html">Haskell version</a> - <a href="https://www.flaticon.com/free-icons/zoo" title="zoo icons" target="_blank">Zoo icons created by iconixar - Flaticon</a> - <a href="https://www.dafont.com/childscribble.font" target="_blank">Title font by Reka - Dafont</a>
        </div>
    </div>
    <script src="../js/highlight.min.js"></script>
    <script src="../js/jquery.min.js"></script>
    <script src="js/traitlist.js"></script>
    <script src="../js/search.js"></script>
    <script src="../js/trait.js"></script>
</body>
</html>